// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Variables

$primary-color: #343232;
$secondary-color : #DC7A65;

$title: 2em;
$subtitle: 1.5em;
$text: 1em;

// Global

body {
  font-family: 'Poppins', sans-serif;
}

