// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

// Variables

$primary-color: #343232;
$secondary-color : #DC7A65;
$bg-color: #000000;
$bg-color-lighter: #3a3838;

$title: 2em;
$subtitle: 1.5em;
$text: 1em;

// Global

body {
  font-family: 'Poppins', sans-serif;
}

