.movie {

  &__content {
    display: flex;
    
  }
  
  &__thumbnail {
    min-width: 100px;
    max-width: 200px;
    // width: 300px;
    
    img {
      width: 100%;
      border-radius: 7px;
    }
  }

  &__info {
    margin-left: 1rem;
  }

  h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }

  &__synopsis {
    margin: 1rem 0;

    h3 {
      color: white;
      margin-bottom: 0.5rem;
    }

    p {
      color: #e3e3e3c4;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  &__actors {
    p {
      color: white;
      margin-bottom: 0.5rem;
    }

    span {
      font-size: 0.8rem;
      color: brown;
    }
  }
}