@import '../../sass/global.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: $bg-color;
  font-family: 'Nunito', sans-serif;
  
  &__content {
    padding: 0 1em;
  }

  .img-wrapper {
    width: 100%;
    
    img {
      max-width: 100%;
    }
  }

  .form-control {
    width: 100%;
  }

  &__nav {
    li {
      display: flex;
      align-items: center;
      color: white;
      padding: 0 1em;
      cursor: pointer;
    }
    
    .active {
      background: $bg-color-lighter;
      border-radius: 3px;
    }

  }

  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    font-weight: 600;
    padding-left: 1em;
  }



}

