@import '../../sass/global.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: $primary-color;
  
  &__content {
    margin: 0 2em;
    width: 100%;
  }

  .img-wrapper {
    width: 100%;
  
    img {
      max-width: 100%;
    }
  }

  .form-control {
    width: 100%;

    input {
      // width: 100%;
    }
  }

  &__nav {
    li {
      display: flex;
      align-items: center;
    }

  }
  .nav__link {
    border-radius: 4px;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
  }

}

